.chat-list {
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 220px;
    height: calc(100% - 140px);
    margin: 20px;
    margin-top: 120px;
    background-color: white;
}

.lists {
    overflow-y: auto;
    height: 100%;
}

.list-title {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.list-title .count {
    text-align: left;
}

.list-title div {
    display: inline-block;
    width: calc(100% - 36px);
    text-align: center;
}

.list {
    padding-left: 0px;
    list-style-type: none;
    margin: 0px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #EEE;
}

.list-bottom {
    padding: 12px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.list-item {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid #EEE;
}

.list-item:hover {
    background-color: #EEE;
}

.list-img {
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

.new-img {
    background-color: white;
    width: 24px;
    height: 24px;
    margin: 12px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

.list-name {
    font-size: 12px;
}

.status-ball {
    position: relative;
    left: -25px;
    top: 15px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ball-connected {
    background-color: rgba(0, 244, 44, 0.9);
}

.ball-navigating {
    background-color: rgba(244, 244, 44, 0.9);
}

.ball-navigating {
    background-color: rgba(255, 150, 44, 0.9);
}

.ball-bussy {
    background-color: rgba(255, 0, 0, 0.9);
}

.ball-disconnected {
    background-color: rgba(200, 200, 200, 0.9);
}

