<nav>
    <div class="nav-profile noselect">
        <div *ngIf="myUser">
            <a href="/usuario?u={{myUser.nickname}}">
                <img class="nav-profile-img" src={{myUser.image}} />
            </a>
            <div class="nav-profile-status-ball ball-{{myChatUser?.status}}" title="{{getStatusTitle()}}" (click)="changeStatus()"></div>
        </div>
        <a *ngIf="!myUser" href="#">
            <img class="nav-profile-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
        </a>
    </div>
    <div class="nav-menu-item noselect" *ngFor="let menu of menuItems">
        <a [routerLink]="[menu.link]">
            <span class="icon fa {{menu.icon}} icon-{{primaryColor}}" [class.active]="menu.active" title={{menu.title}}></span>
        </a>
    </div>
</nav>