body {
  margin: 0px;
  background-color: #f9f9f9 !important;
  overflow: hidden;
}

.loading-img {
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  bottom: calc(50% - 50px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}