.header-bar {
    position: absolute;
    left: 100px;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
}

.web-logo {
    text-align: center;
}

.web-logo img {
    height: 100px;
}