<div class="active-conversation">
    <div class="conversation-header">
        <div class="header-actions noselect">
            <div *ngIf="conversation.type == 'user'" class="fav-icon" title="Hacer Favorito" (click)="starred()">
                <span class="fa fa-star{{starreds.indexOf(conversation.data._id) < 0 ? '-o' : ''}}"></span>
            </div>
        </div>
        <div class="header-avatar">
            <span class="noselect">
                <a href="/usuario?u={{users[conversation.data._id]?.nickname}}" target="_blank">
                    <img src="{{users[conversation.data._id]?.image}}" alt="User Avatar">
                    <div class="status-ball ball-{{chatUsers[conversation.data._id] ? chatUsers[conversation.data._id].status : 'disconnected'}}"></div>
                </a>
            </span>
            <h5 *ngIf="conversation.type == 'user'">{{users[conversation.data._id]?.alias}} ({{users[conversation.data._id]?.nickname}})</h5>
        </div>
        <div class="header-info">
        </div>
    </div>
    <div class="chat-message">
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">John Doe</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Sarah</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">John Doe</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Sarah</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    </p>
                </div>
            </li>                    
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">John Doe</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Sarah</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Sarah</strong>
                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    </p>
                </div>
            </li>                    
        </ul>
    </div>
    <div class="writing-box">
        <div class="input-group">
            <input class="form-control border no-shadow no-rounded" placeholder="Escribe tu mensaje...">
            <span class="input-group-btn">
                <button class="btn btn-warning no-rounded" type="button">Send</button>
            </span>
        </div>
    </div>
</div>