<div class="recovery-container container">
    <div class="recovery-box">
        <div [hidden]="submitted">
            <img src="images/animagens.png"/>
            <h1>Recuperación de la cuenta</h1>
            <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
                <strong>¡Atención!</strong> {{error.msg}}
            </div>
            <form [ngFormModel]="form" (ngSubmit)="onSubmit(recoveryForm.value)" #recoveryForm="ngForm">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="password">Nueva Password</label>
                        <input ngControl="password" type="password" class="form-control" required minlength="7" maxlength="40">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="rep_password">Repetir Nueva Password</label>
                        <input ngControl="rep_password" type="password" class="form-control" required minlength="7" maxlength="40">
                    </div>
                </div>
                <div class="pull-right"><button [disabled]="!recoveryForm.form.valid" type="submit" class="btn btn-default">Recuperar</button></div>
            </form>
        </div>
        <div [hidden]="!successful">
            <img src="images/animagens.png"/>
            <h1>Recuperación completada</h1>
            <p>Ya puedes <a href="/login">loguearte</a> con el nombre de usuario <strong>{{user.nickname}}</strong> y la nueva contraseña que acabas de configurar.</p>
        </div>
    </div>
</div>
<div [hidden]="!submitted || successful">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>