.blogs-list {
    position: absolute;
    display: inline-block;
    margin: 10px;
    margin-top: 110px;
    width: calc(100% - 100px);
    height: 100%;
    background: #f9f9f9;
    overflow-y: auto;
    padding-bottom: 70px;
}

.blogs-list .panel {
    margin: 5%;
    -webkit-box-shadow: 0px 0px 20px 0px #BBB;
            box-shadow: 0px 0px 20px 0px #BBB;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.blog-header {
    padding: 10px;
    text-align: center;
}

.blog-body {
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blog-bottom {
    text-align: center;
}

@media (max-width: 540px) {
    .blogs-list {
        width: 100%;
    }
}