<amgs-layout [menuItems]="menuItems" [primaryColor]="primaryColor">Load</amgs-layout>
<div *ngIf="blogs" class="blogs-list">
    <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
        <strong>¡Atención!</strong> {{error.msg}}
    </div>
    <div *ngIf="myUser?.perms?.writeBlog && !submitted" class="panel">
        <form [ngFormModel]="form" (ngSubmit)="onSubmit(blogForm.value)" #blogForm="ngForm">
            <div class="blog-header">
                <div class="form-group">
                    <input ngControl="title" #title="ngForm" type="text" class="form-control" required maxlength="50" placeholder="Título">
                </div>
            </div>
            <hr />
            <div class="blog-body">
                 <ckeditor [(ngModel)]="content" [config]="{uiColor: '#99000', mathJaxLib: '//cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-AMS_HTML'}"></ckeditor>
            </div>
            <hr />
            <div class="blog-bottom">
                <button [disabled]="!blogForm.valid" type="submit" class="btn btn-default">Enviar</button>
            </div>
        </form>
    </div>
    <div *ngIf="!submitted">
        <div *ngFor="let b of blogs" class="panel">
            <div class="blog-header">
                <small class="pull-right">{{b.created_at | date: 'dd/MM/yyyy - HH:mm:ss'}}</small>
                <h2>{{b.title}}</h2>
            </div>
            <hr />
            <div class="blog-body" [innerHTML]="b.content"></div>
        </div>
    </div>
</div>
<div [hidden]="blogs || submitted">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>